* text=auto

*.md text
*.txt text
*.csv text
*.html text
*.json text
*.mjs text
*.py text

*.pdf binary
*.pptx binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.zip binary
*.docx binary
*.xlsx binary
